*{
font-family: 'Century Gothic';
text-align: center;
}
button {
height:40px;
width: 100px;
text-align: center;
-webkit-border-radius: 6;
-moz-border-radius: 6;
border-radius: 6px;
text-shadow: 0px 2px 4px #000000;
-webkit-box-shadow: 0px 1px 3px #666666;
-moz-box-shadow: 0px 1px 3px #666666;
box-shadow: 0px 1px 3px #666666;
font-family: Arial;
color: #ffffff;
font-size: 15px;
background: #b8b8b8;
padding: 10px 20px 10px 20px;
border: solid #6b6b6b 2px;
text-decoration: none;
margin-top: 20px;
}

.button:focus, .button:hover{
  background: #a6a6a6;
 text-decoration: none; 
}
#links{
  float: left;
  clear: left;
}